{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
 <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" aria-label="home">
        <div class="container">

          <h1 class="h1 hero-title">
            <strong class="strong">Hotep, nous sommes panafricains.</strong> Voici nos pensées, nos histoires et nos idées
          </h1>

          <div class="wrapper">

            <form action="" class="newsletter-form">
              <input type="email" name="email_address" placeholder="Ton adresse-email" class="email-field">

              <button type="submit" class="btn">Abonne toi</button>
            </form>

            <p class="newsletter-text">
             Recevez la newsletter par e-mail et débloquez l'accès au contenu et aux mises à jour réservés aux membres
            </p>

          </div>

        </div>
      </section>
</main>

{% endblock %}
